<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
var timer = function() {
    setTimeout(function(){ window.location.reload(); }, 60000);
};
timer();
</script>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ffffff}
th {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body bgcolor="#585858">
<h2 align="center" style="color:#ffffff;">Cleair Beta Readings</h2>
<table>
<tr>
	<th><h3>Msg ID</h3></th>
    <th><h3>Server Time UTC</h3></th>
    <th><h3>Sensor Time IST</h3></th>
    <th><h3>PM25 ug/m3</h3></th>
    <th><h3>PM25 ug/m3</h3></th>
    <th><h3>Temperature &#176C</h3></th>
    <th><h3>R. Humidity %</h3></th>
</tr>
{% for item in data %}
<tr>
	<td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
    <td>{{item[5]}}</td>
    <td>{{item[6]}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>